@config "../tailwind.config.ts";
@import "tailwindcss";
@tailwind utilities;

@layer components {
  .container-content {
    @apply mx-auto max-w-content;
  }
  .container-information {
    @apply pt-belowSidebar min-h-screen p-2 text-2xl;
  }
}
